html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(138, 138, 138);
  line-height: 1.5;
}

/* Latihan 1 */

.container-satu {
  display: flex;
  width: 800px;
  background-color: aliceblue;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
}

.kolom-utama {
  flex: 1;
  order: 2;
}

.kolom-kiri {
  flex: 1;
  order: 1;
}

.kolom-kanan {
  flex: 1;
  order: 3;
}

/* Akhir Latihan 1 */

/* Latihan 2 */
.container-dua {
  width: 800px;
  margin: 50px auto;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
}
.layanan.satu {
  background-color: rgba(223, 63, 63, 0.808);
}
.layanan.dua {
  background-color: rgba(207, 223, 63, 0.938);
}
.layanan.tiga {
  background-color: rgba(60, 201, 55, 0.808);
}
/* Akhir Latihan 2 */

/* Latihan 3 */
.container-tiga {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 50%;
}

.thumbnail img {
  width: 100%;
}
/* Akhir Latihan 3 */

/* Latihan 4 */
.container-empat {
  display: flex;
  width: 800px;
  margin: 50px auto;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 150px;
  background-color: #666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}

.card.besar {
  transform: scale(1.12);
}
/* Akhir Latihan 4 */

/* Latihan 5 */
.container-lima {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 5px solid black;
  display: flex;
}

.kotak {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: auto;
  display: flex;
  text-align: center;
}

.kotak span {
  margin: auto;
}
/* Akhir Latihan 5 */

/* Latihan responsive */

@media (min-width: 600px) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }
  .layanan {
    max-width: 30%;
    justify-content: space-between;
  }

  .thumbnail {
    width: 25%;
  }
}
/* Latihan responsive */
