.container {
  width: 600px;
  /* height: 150px; */
  border: 5px solid #333;
  margin: 30ch 10cm;
  padding: 5px;
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: stretch; */
}

.container div {
  width: 120px;
  height: 120px;
  background-color: aqua;
  margin: 2px;
}

.satu {
  order: 2;
}
.empat {
  flex-grow: 0.2;
  order: 1;
}
